*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    background-image: linear-gradient(19deg, yellow 0%, #B721FF 100%);
    height: 100vh;
}
.container{
    position: relative;
    left: 0px;
}
.header{
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    border-bottom: 2px solid white;
    box-shadow: 0 0 10px black;
    padding: 15px;
    font-size: 50px;
    color: #6DD5FA;
    font-weight: bold;
    font-family: 'Joan', serif;
}
.center{
    text-align: center;
}
.btn{
    position: absolute;
    top: 45px;
    right: 15%;
}
button{
    color: rgb(246, 240, 243);
    height: 40px;
    width: 150px;
    background-image: linear-gradient(160deg,yellow, #721bdb);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
#data{
    justify-content: center;
    display: flex;
    padding-top: 30px;
}
.table{
    width: 800px;
}
table{
    color: #b4e8fb;
    font-size: 18px;
    font-family: 'Tai Heritage Pro', serif;
    width: 100%;
    height: 490px;
    cursor: pointer;
}
table td:hover{
    background-color: #721bdb;
}